<div class=" bg-white font-montserrat z-50 relative overflow-x-hidden">
    <div class="lg:flex items-center justify-between shadow-lg bg-white  p-3">
        <div class="logo flex justify-between items-center italic font-medium gap-2 shadow-md lg:shadow-none ">
            <div class="flex">
                <img src="https://themewagon.github.io/pinwheel/images/logo.svg" alt="" class="w-auto h-10">
                <!-- <span class="text-2xl">Tailwind Header</span> -->
            </div>
            <button class="bg-blue-600 text-white  lg:hidden block px-2 py-2 rounded-md"><i
                    class="fa-solid fa-bars text-xl"></i></button>
        </div>
        <ul class="sm:flex sm:flex-col sm:items-center lg:gap-5 lg:flex lg:flex-row">
            <li class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm">Home</li>
            <div class="group  hover:transition-all ">
                <li
                    class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm relative hover:transition-all  ">
                    <div class="flex justify-between lg:flex gap-2">
                        <span>About us</span>
                        <!-- <i class="fa-solid fa-caret-down group-hover:rotate-180"></i> -->
                    </div>
                    <!-- <ul
                        class="hidden font-normal text-[14px] group-hover:block hover:transition-all absolute top-11 lg:absolute lg:top-14 left-0 w-full lg:min-w-max bg-blue-400 lg:bg-[#F5F5F5] lg:p-3 lg:text-black">
                        <li class="p-3">Inner-Item-List</li>
                        <li class="p-3">Inner-Item-List</li>
                        <li class="p-3">Inner-Item-List</li>
                    </ul> -->
                </li>
            </div>

            <li class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm">Blog</li>
            <li class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm">Features</li>
            <li class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm">How It Works</li>
            <div class="group  hover:transition-all ">
                <li
                    class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm relative hover:transition-all  ">
                    <div class="flex justify-between lg:flex gap-2">
                        <span>Pages</span>
                        <!-- <i class="fa-solid fa-caret-down group-hover:rotate-180"></i> -->
                    </div>
                    <!-- <ul
                        class="hidden font-normal text-[14px] group-hover:block hover:transition-all absolute top-11 lg:absolute lg:top-14 left-0 w-full lg:min-w-max bg-blue-400 lg:bg-[#F5F5F5] lg:p-3 lg:text-black">
                        <li class="p-3">Career</li>
                        <li class="p-3">Integration</li>
                        <li class="p-3">Terms & Conditions</li>
                    </ul> -->
                </li>
            </div>
            <li class="p-3 font-normal text-[16px] hover:bg-orange-600 hover:text-white rounded-sm">Contact</li>
        </ul>
    </div>
    <div
        class="bg-gradient  lg:w-[50rem] lg:h-[50rem] lg:rounded-full lg:absolute lg:top-[-300px] lg:right-[-200px] z-[-1] rounded-full absolute top-0 right-[-200px] h-72 w-full">
    </div>

    <section class="container overflow-hidden ">
        <div class="banner-section container mx-auto px-5">
            <div class="grid grid-cols-auto lg:grid-cols-2 items-center py-32">
                <div>
                    <div class="w-full text-4xl lg:text-6xl font-medium">
                        Scale design & dev operations with Avocode Enterprise
                        <p class="text-[14px] lg:text-xl font-normal text-gray-400 py-2 lg:py-7  font-roman">A fully integrated
                            suite of authentication &
                            authoriz products, Stytch’s platform removes the headache of.</p>
                    </div>
                    <button
                        class="bg-white shadow-lg px-14 py-5 rounded-full text-[16px] font-medium text-gray-800 text-center">Download
                        Theme</button>
                </div>
                <div class="w-full">
                    <img src="https://themewagon.github.io/pinwheel/images/banner-img.png" alt="" class="w-full">
                </div>
            </div>
        </div>
    </section>
    <section class="hightlight-part container-sm px-5 lg:px-20 relative">
        <div
            class="bg-gradient w-36 h-36 lg:w-52 lg:h-52 rounded-full absolute top-[-100px] left-[-70px] lg:absolute lg:top-0 lg:left-[-100px] z-[-1]">
        </div>
        <div class="grid grid-cols-auto gap-6 lg:grid-cols-2 items-center">
            <div>
                <div class="w-full text-xl  lg:text-4xl font-medium">
                    The Highlighting Part Of <br> Our Solution
                </div>
            </div>
            <div class="text-sm lg:text-lg text-gray-400">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi itaque magni esse illum cum eum totam
                deleniti laudantium neque, nostrum in assumenda, dignissimos minus ad sequi doloremque reprehenderit ab
                sunt tempore odit hic beatae.
            </div>
        </div>
        <div class="grid grid-cols-auto  lg:grid-cols-4 gap-10 my-16">
            <div class="card bg-white shadow-lg p-5 rounded-md  ">
                <!-- <a class="p-2 px-4 group" href="#">
                    Home
                    <div class="bg-amber-500 h-[2px] w-0 group-hover:w-full transition-all duration-500"></div>
                </a> -->
                <div class="flex flex-col gap-4  ">
                    <div class="text-xl group relative">
                        Live Caption
                        <div
                            class="bg-amber-500 h-[2px] absolute bottom-0 left-0 w-0 group-hover:w-28 lg:group-hover:w-32 transition-all duration-500">
                        </div>
                    </div>
                    <div class="text-[14px] font-medium text-gray-400">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab qui expedita nisi, culpa unde
                        placeat mollitia nemo quas repudiandae pariatur est provident nesciunt? Eos quis reprehenderit
                        accusamus rem corrupti voluptas, natus mollitia possimus?
                    </div>
                </div>
            </div>
            <div class="card bg-white shadow-lg p-5 rounded-md">
                <div class="flex flex-col gap-4">
                    <div class="text-xl  group relative">Live Caption
                        <div
                            class="bg-amber-500 h-[2px] absolute bottom-0 left-0 w-0 group-hover:w-28 lg:group-hover:w-32 transition-all duration-500">
                        </div>
                    </div>
                    <div class="text-[14px] font-medium text-gray-400">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab qui expedita nisi, culpa unde
                        placeat mollitia nemo quas repudiandae pariatur est provident nesciunt? Eos quis reprehenderit
                        accusamus rem corrupti voluptas, natus mollitia possimus?
                    </div>
                </div>
            </div>
            <div class="card bg-white shadow-lg p-5 rounded-md">
                <div class="flex flex-col gap-4">
                    <div class="text-xl  group relative">Live Caption
                        <div
                            class="bg-amber-500 h-[2px] absolute bottom-0 left-0 w-0 group-hover:w-28 lg:group-hover:w-32 transition-all duration-500">
                        </div>
                    </div>
                    <div class="text-[14px] font-medium text-gray-400">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab qui expedita nisi, culpa unde
                        placeat mollitia nemo quas repudiandae pariatur est provident nesciunt? Eos quis reprehenderit
                        accusamus rem corrupti voluptas, natus mollitia possimus?
                    </div>
                </div>
            </div>
            <div class="card bg-white shadow-lg p-5 rounded-md">
                <div class="flex flex-col gap-4">
                    <div class="text-xl  group relative">Live Caption
                        <div
                            class="bg-amber-500 h-[2px] absolute bottom-0 left-0 w-0 group-hover:w-28 lg:group-hover:w-32 transition-all duration-500">
                        </div>
                    </div>
                    <div class="text-[14px] font-medium text-gray-400">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga ab qui expedita nisi, culpa unde
                        placeat mollitia nemo quas repudiandae pariatur est provident nesciunt? Eos quis reprehenderit
                        accusamus rem corrupti voluptas, natus mollitia possimus?
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reputation mb-14">
        <div class="grid grid-cols-auto lg:grid-cols-2 items-center gap-10 px-8">
            <div class="order-first lg:order-last">
                <img src="https://themewagon.github.io/pinwheel/images/sells-by-country.png" alt="" class="">
            </div>
            <div>
                <div class="text-3xl font-medium text-gray-900">
                    Prevent failure from to impacting your reputation.
                </div>
                <p class="font-medium text-gray-400">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam explicabo officiis dolor ut recusandae
                    dicta provident a illo sit distinctio?
                </p>
                <ul class="flex flex-col gap-5">
                    <li class="flex gap-3 p-2 px-4 py-4 rounded-md text-gray-900 font-medium hover:bg-[#fe601966]">
                        <img src="https://themewagon.github.io/pinwheel/images/icons/drop.svg" alt="">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, exercitationem!
                    </li>
                    <li class="flex gap-3  p-2 px-4 py-4 rounded-md text-gray-900 font-medium hover:bg-[#fe601966]">
                        <img src="https://themewagon.github.io/pinwheel/images/icons/brain.svg" alt="">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, exercitationem!
                    </li>
                    <li class="flex gap-3  p-2 px-4 py-4 rounded-md text-gray-900 font-medium hover:bg-[#fe601966]">
                        <img src="https://themewagon.github.io/pinwheel/images/icons/timer.svg" alt="">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, exercitationem!
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="accept_payments">
        <div class="grid grid-cols-auto lg:grid-cols-2 gap-5 px-8 items-center">
            <div>
                <img src="https://themewagon.github.io/pinwheel/images/collaboration.png" alt="" class="w-full">
            </div>
            <div>
                <div class="text-3xl font-medium mb-3">
                    Accept payments any country in this whole universe
                </div>
                <p class="py-4 text-sm text-gray-500 font-medium">
                    Donec sollicitudin molestie malesda. Donec sollitudin molestie malesuada. Mauris pellentesque nec,
                    egestas non nisi. Cras ultricies ligula sed
                </p>
                <ul class="flex flex-col gap-3">
                    <li>
                        <div class="flex items-center gap-2">
                            <span class="bg-[#fe6119d1] text-white px-2 py-1  rounded-full"><i
                                    class="fa-solid fa-check text-xs"></i></span>
                            <div class="">Supporting more than 119 country world</div>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center gap-2">
                            <span class="bg-[#fe6119d1] text-white px-2 py-1  rounded-full"> <i
                                    class="fa-solid fa-check text-xs"></i></span>
                            <div class="">Open transaction with more than currencies</div>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center gap-2">
                            <span class="bg-[#fe6119d1] text-white  px-2 py-1   rounded-full"><i
                                    class="fa-solid fa-check text-xs"></i></span>
                            <div class="">Customer Service with 79 languages</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="customer_reviews bg-gray-50 py-32 px-8">
        <div class="grid grid-cols-auto lg:grid-cols-2 items-center gap-10 px-8 my-10 mb-16">
            <div class="text-3xl lg:text-4xl font-medium">
                Our customers have nice things to say about us
            </div>
            <div class="text-xl lg:text-2xl text-gray-500 font-medium">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Fugiat qui repellat quo odio neque optio sapiente animi consectetur perferendis
                necessitatibus.</div>
        </div>
        <div class="grid grid-cols-auto lg:grid-cols-3 gap-10">
            <div class="card shadow-lg bg-white rounded-2xl p-5 py-10 lg:p-10">
                <div class="flex items-center justify-center">
                    <div class=" h-24 w-24 rounded-full border-2 border-orange-600">
                        <img src="https://themewagon.github.io/pinwheel/images/users/user-5.png" alt=""
                            class="rounded-full">
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center gap-2 mt-5">
                    <div class="text-3xl font-medium">Courtney Henry</div>
                    <div class="text-[16px] text-gray-700 font-medium">Microsoft Corp</div>
                    <div class="text-[16px] text-center text-justify text-gray-700 font-medium my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisg elit. Temporibus laborum illum provident
                        velit
                        perspiciatis voluptatibus?
                    </div>
                    <div class="flex gap-4 text-xl lg:text-2xl  items-center mt-5">
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg bg-white rounded-2xl p-5 py-10 lg:p-10">
                <div class="flex items-center justify-center">
                    <div class=" h-24 w-24 rounded-full border-2 border-orange-600">
                        <img src="https://themewagon.github.io/pinwheel/images/users/user-5.png" alt=""
                            class="rounded-full">
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center gap-2 mt-5">
                    <div class="text-3xl font-medium">Courtney Henry</div>
                    <div class="text-[16px] text-gray-700 font-medium">Microsoft Corp</div>
                    <div class="text-[16px] text-center text-justify text-gray-700 font-medium my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisg elit. Temporibus laborum illum provident
                        velit
                        perspiciatis voluptatibus?
                    </div>
                    <div class="flex gap-4 text-xl lg:text-2xl  items-center mt-5">
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg bg-white rounded-2xl p-5 py-10 lg:p-10">
                <div class="flex items-center justify-center">
                    <div class=" h-24 w-24 rounded-full border-2 border-orange-600">
                        <img src="https://themewagon.github.io/pinwheel/images/users/user-5.png" alt=""
                            class="rounded-full">
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center gap-2 mt-5">
                    <div class="text-3xl font-medium">Courtney Henry</div>
                    <div class="text-[16px] text-gray-700 font-medium">Microsoft Corp</div>
                    <div class="text-[16px] text-center text-justify text-gray-700 font-medium my-2">
                        Lorem ipsum dolor sit amet consectetur, adipisg elit. Temporibus laborum illum provident
                        velit
                        perspiciatis voluptatibus?
                    </div>
                    <div class="flex gap-4 text-xl lg:text-2xl items-center mt-5">
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                        <i class="fa-solid fa-star text-yellow-500"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer bg-gray-100 py-24 px-8">
        <div class="grid grid-cols-auto lg:grid-cols-4 gap-20 px-8">
            <div>
                <div class="flex flex-col gap-4">
                    <img src="	https://themewagon.github.io/pinwheel/images/logo.svg" alt="" class="w-44">
                    <div class="text-[14px] font-medium text-gray-500 text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sit eos sint a recusandae atque
                        tempora? Quam ad consequatur vel.
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-4">
                    <div class="text-2xl font-medium">Social</div>
                    <div class="flex gap-10">
                        <a href="#" class="text-xl hover:text-orange-600"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#" class="text-xl hover:text-orange-600"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="text-xl hover:text-orange-600"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#" class="text-xl hover:text-orange-600"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-4">
                    <div class="text-2xl font-medium">Quick Links</div>
                    <div class="flex flex-col gap-2">
                        <a href="#" class="cursor-pointer text-[14px] font-medium text-gray-500 hover:text-orange-600 hover:underline">About
                            us</a>
                        <a href="#"
                            class="cursor-pointer text-[14px] font-medium text-gray-500 hover:text-orange-600 hover:underline">Category</a>
                        <a href="#"
                            class="cursor-pointer text-[14px] font-medium text-gray-500 hover:text-orange-600 hover:underline">Testimonials</a>
                        <a href="#"
                            class="cursor-pointer text-[14px] font-medium text-gray-500 hover:text-orange-600 hover:underline">Contact</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-col gap-4">
                    <div class="text-2xl font-medium">Location & Contact</div>
                    <div class="text-[14px] font-medium text-gray-500">
                        2118 Thornridge Cir. Syracuse, Connecticut 35624
                        (704) 555-0127
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="disclaimer">
        <div class="bg-gray-400 p-4 text-center text-gray-700 font-medium">
            Designed And Developed by Themefisher | Distributed by ShuaryaTechnosoft
        </div>
    </section>
</div>