<div class="mx-5 ps-10 shadow-lg font-montserrat ">
    <header class="border-b-2 border-bottom py-5 px-5 font-bold text-[18px] text-[#352f44]">
        Dashboard
    </header>

    <body class="pt-5 px-5">


        <div class=" grid grid-cols-auto gap-2 lg:grid-cols-4 w-full ">
            <div class="card  flex items-center gap-7 border border-orange-50 shadow-lg rounded-sm px-7 py-8">
                <div class="bg-[#2a2438] text-center pt-2 rounded-md w-9 h-9 ">
                    <i class="fa-solid fa-play text-[#dbd8e3] text-[14px]"></i>
                </div>
                <div class="flex flex-col col-auto gap-2">
                    <div class="text-[14px] font-semibold">Total Applications</div>
                    <span class="text-xs text-end font-medium">Count : 142+</span>
                </div>
            </div>
            <div class="card flex items-center gap-7 border border-orange-50 shadow-lg rounded-sm px-7 py-8">
                <div class="bg-[#2a2438] text-center pt-2 rounded-md w-9 h-9 ">
                    <i class="fa-solid fa-play text-[#dbd8e3] text-[14px]"></i>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="text-[14px] font-semibold">Applications Approved</div>
                    <span class="text-xs text-end font-medium">Count : 142+</span>
                </div>
            </div>
            <div class="card flex items-center gap-7 border border-orange-50 shadow-lg rounded-sm px-7 py-8">
                <div class="bg-[#2a2438] text-center pt-2 rounded-md w-9 h-9 ">
                    <i class="fa-solid fa-play text-[#dbd8e3] text-[14px]"></i>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="text-[14px] font-semibold">Applications Pending</div>
                    <span class="text-xs text-end font-medium">Count : 142+</span>
                </div>
            </div>
            <div class="card flex items-center gap-7 border border-orange-50 shadow-lg rounded-sm px-7 py-8">
                <div class="bg-[#2a2438] text-center pt-2 rounded-md w-9 h-9 ">
                    <i class="fa-solid fa-play text-[#dbd8e3] text-[14px]"></i>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="text-[14px] font-semibold">Applications Rejected</div>
                    <span class="text-xs text-end font-medium">Count : 142+</span>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 px-0 gap-2 my-5">

            <div class="w-full">
                <table
                    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-[1px] border-[#5c547039]">
                    <thead
                        class="text-left text-xs text-gray-50 uppercase bg-[#5c5470] dark:bg-gray-700 dark:text-gray-400">
                        <tr class="shadow-lg">
                            <th class="p-5">Sr. No.</th>
                            <th class="p-0">Approved</th>
                            <th class="p-0">Pending</th>
                            <th class="p-0">Rejected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-gray-100">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr>
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr class="">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-full">
                <table
                    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-[1px] border-[#5c547039]">
                    <thead
                        class="text-left text-xs text-gray-50 uppercase bg-[#5c5470] dark:bg-gray-700 dark:text-gray-400">
                        <tr class="shadow-lg">
                            <th class="p-5">Sr. No.</th>
                            <th class="p-0">Approved</th>
                            <th class="p-0">Pending</th>
                            <th class="p-0">Rejected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-gray-100">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr>
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr class="bg-gray-100">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                        <tr class="">
                            <td class="p-5">342345</td>
                            <td>123121</td>
                            <td>19261</td>
                            <td>19261</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>

</div>